.wrapper {
    display: flex;
    padding: 1.5% 0;
}

.wleft {
    width: 65%;
}



.navs {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    margin: 30px 0;
    // padding:10px;
}

.nav {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-weight: 600;
    font-size: 14px;
    height: 50px;
}

.nav:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav:hover,
.nav-selected {
    background-color: #EDC9F3;
    border-bottom: 2px solid #4A148C;
    color: #4A148C;
}

.nav:not(:last-child) {
    border-right: 1px solid rgb(194, 194, 194);
}

.header {
    font-size: 18px;
    line-height: 27px;
    color: #4A148C;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 700;
}


.wright {
    width: 35%;
    padding: 0 50px;
    text-align: center;
}

.rhead {
    font-size: 20px;
    color: #2B354F;
    font-weight: 600;
    text-transform: capitalize;
    padding: 20px;
    border-bottom: 1px solid #eee;
    margin: 0px;
    margin-bottom: 20px;
    width: 100%;
}

.rwrap input {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    width: 95%;
    border: 1px solid lightgrey;
}

.rwrap input:focus {
    outline: none;
}

.rwrap {
    background-color: white;
    border-radius: 10px;
    // margin: 50px;
    padding: 10px;
}

.submit {
    background-color: #EE5A24;
    color: white;
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

.submit:hover {
    background-color: #BE481C;
}