<div class="wrapper">
    <div class="logo">Logo</div>
    <div class="wright">
        <div class="navs">
            <div class="nav">All Reports</div>
            <div class="nav">All Reports</div>
            <div class="nav">All Reports</div>
            <div class="nav">All Reports</div>
            <div class="nav">All Reports</div>
            <div class="nav">All Reports</div>
        </div>
        <div class="wsearch">
            <input type="text" class="search" placeholder="Search Query">
        </div>
    </div>
</div>