<div class="wrapper">
    <div class="logo">Research @#</div>
    <div class="wright">
        <div class="navs">
            <div class="nav" routerLink="/reports" >All Reports</div>
            <div class="nav" routerLink="/reports" >All Sectors</div>
            <div class="nav" routerLink="/reports" >Infographics</div>
        </div>
        <div class="wsearch">
            <input type="text" class="search" placeholder="Search Query">
            <div class="search-btn">Search</div>
        </div>
    </div>
</div>