<div class="sections">
    <div class="section">
        <div class="company-details">
            <div class="company" *ngFor="let data of count(4); let i = index;">
                <img  class="cicon" src="../../assets/footer-icons/icons8-phone-30.png">
                <div class="ctext">+1 718 618 4351 (International)</div>
            </div>
        </div>
    </div>
    <div class="section" *ngFor="let data of count(3)">
        <div class="explore">Explore</div>
        <div class="list">
            <div class="lcon">About Us</div>
            <div class="lcon">All Reports</div>
            <div class="lcon">All Sectors</div>
            <div class="lcon">Inforgraphics</div>
            <div class="lcon">Statistics and Facts</div>
            <div class="lcon">Companies</div>
        </div>
    </div>
</div>